{% extends "report.html" %}
{% block content %}


<div class="content">
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Operations</p>
        <p class="title">{{operations|count}}</p>
      </div>
    </div>
  </div>
  {% for op in operations %}
  <div class="box">
    <h3>{{op.name}}</h3>
    <button class="button is-success">
      {{op.method | capitalize}}
    </button>
    <h4>{{op.url}}</h4>
    <h4>Parameters</h4>
    {% for p in op.parameters %}
    <h5>{{p.name}} in {{p.in}} </h5>
    <p>Its generation schema is {{p.schema}}</p>


    {% endfor %}

    {% if op.examples|length > 0 %}
    <h4>Examples</h4>
    {% for e in op.examples %}
    <p class="title is-5">{{e.property}}</h5>
    <p class="subtitle is-7">{{e.description}}</p>
    {% if e.example.no-example %}
    <p>No example found</p>
    <!-- <p>{{e.example}}</p> -->
    {% else %}
    {% for ex in e.example %}
    <p>{{forloop.counter}}. {{ex.url}}</p>
    {% endfor %}
    {% endif %}
    <!-- <p>{{e}}</p> -->
    {% endfor %}
    {% else %}
    <p>No examples found</p>
  {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}